<?xml version="1.0" ?>

<model>
    <name>rj45_plug</name>
    <version>1.0</version>
    <sdf version="1.7"> model.sdf </sdf>
    <author>
        <name>Mateus Menezes</name>
        <email>mateusmenezes95@gmail.com</email>
    </author>
    <description>
        RJ45 wall plug
    </description>
</model>